.explore {
  .container {
    max-width: 448px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.explore__right-side {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .explore {
    .container {
      display: flex;
      justify-content: space-between;
      max-width: 738px;
    }

    .explore__left-side {
      max-width: 368px;
      padding-top: 100px;
    }

    .text {
      text-align: left;
      font-size: 20px;
    }

    .advantages {
      text-align: left;
    }

    .subtittle {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .explore {
    .container {
      max-width: 1200px;
      width: 100%;
    }

    .explore__left-side {
      padding-left: 100px;
      max-width: 700px;
    }

    .subtittle {
      font-size: 24px;
      margin-bottom: 30px;
    }

    .advantages {
      font-size: 40px;
    }

    .text {
      font-size: 24px;
    }
  }
}
